<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="{{ currentSegment }}">
    <ion-segment-button *ngFor="let segment of segments" value="{{ segment }}">
      <ion-label>{{ segment }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list mode="md">
    
    <ion-item-group *ngFor="let group of currentSegmentStatus">
      <ion-item-divider color="{{ group }}" (click)="toggleList(group)">
        <ion-label>{{ group }}</ion-label>
        <ion-icon *ngIf="collapsed[group]" name="chevron-down-outline" slot="end"></ion-icon>
        <ion-icon *ngIf="!collapsed[group]" name="chevron-up-outline" slot="end"></ion-icon>
      </ion-item-divider>
    
      <div *ngIf="!collapsed[group]">
        <div *ngFor="let order of segmentOrders">
          <ion-item *ngIf="order.status === group" (click)="showOrder(order)">
            <ion-label>
              <ion-row>
                <ion-col>
                  # {{ order.orderNumber }}
                  <span *ngIf="order.userName"> - {{ order.userName }}</span>                          
                </ion-col>
                <ion-col class="ion-text-end">
                  <span>{{ order.orderDate | date: "HH:mm" }}</span>              
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </div>
      </div>
    </ion-item-group>

  </ion-list>
</ion-content>
