<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="{{ currentSegment }}">
    <ion-segment-button *ngFor="let segment of segments" value="{{ segment }}">
      <ion-label>{{ segment }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-list mode="md">
    
    <ion-item-group *ngFor="let group of currentSegmentStatus; trackBy:group">
      <ion-item-divider color="{{ group }}" (click)="toggleList(group)">
        <ion-label>{{ group }}</ion-label>
        <ion-icon [hidden]="!collapsed[group]" name="chevron-down-outline" slot="end"></ion-icon>
        <ion-icon [hidden]="collapsed[group]" name="chevron-up-outline" slot="end"></ion-icon>
      </ion-item-divider>
    
      <div [hidden]="collapsed[group]">
        <div *ngFor="let order of segmentOrders; trackBy:order?.id">
          <ion-item [hidden]="order.status !== group" (click)="showOrder(order)" button>
            <ion-label>
              <ion-row>
                <ion-col *ngIf="order.orderType === orderTypes.Mesa">
                  <ion-badge color="dark" class="ion-margin-end vertical-align-middle">
                    Mesa {{ order.address }}
                  </ion-badge>

                  {{ order.items[0].name }}
                  <b *ngIf="order.items[0].quantity > 1" class="text-small">
                    (x {{ order.items[0].quantity }})
                  </b>
                </ion-col>      

                <ion-col *ngIf="order.orderType !== orderTypes.Mesa">                  
                  <ion-badge color="dark" class="ion-margin-end vertical-align-middle">
                    {{ order.orderNumber }}
                  </ion-badge>   
                  
                  <span *ngIf="order.userName">{{ order.userName }}</span>                          
                </ion-col>                
                          
                <ion-col class="ion-text-end">
                  <span>{{ order.orderDate | datePipe: "HH:mm" }}</span>              
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
        </div>
      </div>
    </ion-item-group>

  </ion-list>
</ion-content>
