<ion-header>
  <ion-toolbar>
    <ion-title>{{ store.name }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="user.isSuperUser" color="secondary" [routerLink]="[ROUTE_SELECT_STORE]" routerDirection="backward">
        <ion-icon slot="icon-only" name="swap-horizontal-outline" color="primary"></ion-icon>
      </ion-button>
      <ion-button color="secondary" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">    
    <ion-tab-button tab="{{ ROUTE_SCAN_QR_PWA }}">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Leer QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="{{ ROUTE_ORDERS }}">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Órdenes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
