.swal2-container {
  .swal2-popup {
    width: 90%;
    border-radius: 12px;
    padding: 1.25em 0;
    font-family: Poppins;
    font-size: 1rem;
  
    .swal2-actions {
      button {
        font-size: 1.2rem;
        font-family: Isidora;
        box-shadow: none;
        border-radius: 35px;
      }
      .swal2-styled.swal2-confirm {
        color: var(--ion-color-primary-contrast);
        background-color: var(--ion-color-primary);
      }
      .swal2-styled.swal2-confirm.activated {
        background-color: var(--ion-color-primary-shade);
      }
      .swal2-styled.swal2-cancel {
        color: var(--ion-color-primary);
        background-color: var(--ion-color-primary-contrast);
        border: solid 1px var(--ion-color-primary);
      }
    }
  }
}