ion-grid {
  display: flex;
  flex-direction: column;
  height: 100%;  
  padding: 0 2rem;
  
  .img-row {
    flex: 0.75;
    align-content: flex-end;
    img {
      width: 50%;
    }
  }
  .form-row {
    flex: 1;
    align-content: flex-start;

    .errors {
      margin-top: 0.4rem;
      font-size: 0.8rem;
      color: var(--ion-color-danger);
    }
  }
}

ion-toolbar {
  font-size: 0.8rem;
  --border-style: none;
  --ion-padding: 0.8rem !important;
}