<ion-content>
  <ion-grid>
    <ion-row class="img-row">
      <ion-col class="ion-text-center">
        <img src="{{ MENOO_LOGO }}" alt="menoo"/>
      </ion-col>
    </ion-row>
    
    <ion-row class="form-row">
      <ion-col>
        <!-- <form > -->
          <div class="input-group">
            <ion-item>
              <ion-input [(ngModel)]="email" type="email" placeholder="email"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input [(ngModel)]="password" type="password" placeholder="contraseña"></ion-input>
            </ion-item>
          </div>
       
          <div class="ion-padding-top">
            <ion-button type="submit" expand="block" (click)="login()">
              ingresar
            </ion-button>
          </div>
        <!-- </form> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">  
  <ion-toolbar class="ion-text-center">
    <a (click)="termsAndConditions()">términos y condiciones</a> 
    <a class="ion-padding-horizontal">|</a>
    <a (click)="privacyPolicy()">política de privacidad</a>
  </ion-toolbar>
</ion-footer>