<ion-content>
  <ion-grid>
    <ion-row class="img-row">
      <ion-col class="ion-text-center">
        <img src="{{ MENOO_LOGO }}" alt="menoo"/>
      </ion-col>
    </ion-row>
    
    <ion-row class="form-row">
      <ion-col>
        <form [formGroup]="credentials" (ngSubmit)="login()">
          <div class="input-group">
            <ion-item>
              <ion-input formControlName="email" type="email" placeholder="email"></ion-input>
            </ion-item>
            <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
              <span *ngIf="email.errors?.required">Ingresa tu email</span>
              <span *ngIf="email.errors?.email">Email inválido</span>
            </div>

            <ion-item>
              <ion-input formControlName="password" type="password" placeholder="contraseña"></ion-input>
            </ion-item>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
              <span *ngIf="password.errors?.required">Ingresa tu contraseña</span>
            </div>
          </div>
       
          <div class="ion-padding-top">
            <ion-button type="submit" expand="block" [disabled]="!credentials.valid">
              ingresar
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">  
  <ion-toolbar class="ion-text-center">
    <a class="cursor-pointer" (click)="termsAndConditions()">términos y condiciones</a> 
    <a class="ion-padding-horizontal">|</a>
    <a class="cursor-pointer" (click)="privacyPolicy()">política de privacidad</a>
  </ion-toolbar>
</ion-footer>