ion-grid {
  display: flex;
  flex-direction: column;
  height: 100%;  
  padding: 0 2rem;
  
  .img-row {
    flex: 0.75;
    align-content: flex-end;
    img {
      width: 50%;
    }
  }
  .form-row {
    flex: 1;
    align-content: flex-start;
  }
}
ion-toolbar {
  font-size: 1.5rem;
  --border-style: none;
  --ion-padding: 0.8rem !important;
}