ion-content {    
  --ion-background-color: transparent;
  
  ion-col {
    background-color: rgba(255, 255, 255, 0.6);
    p {
      font-family: Isidora;
      margin: 12.5% 12.5% 17.5%;
      font-size: 2rem;
      font-weight: 600;
    }
  }
  
  .image-container {
    padding: 1rem;
    background: transparent none;
    text-align: center;
    img {
      height: 100%;
      width: 100%;
    }
  }

  .side-col {
    flex-grow: unset;
    padding: 5%;
  }
  .bottom-row {
    flex: 1;
    height: 100%;
  }
}