<ion-header>
  <ion-toolbar>
    <ion-title>Orden #{{ orderData?.order.orderNumber }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-chip color="{{ orderData?.order.status }}">
            {{ orderData?.order.status.toUpperCase() }}
          </ion-chip>
        </ion-label>
      </ion-item>
      
      <ion-item *ngIf="orderData?.order.userName">
        <ion-label>
          <h2>Usuario</h2>
          <h3>{{ orderData?.order.userName }}</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Items</h2>
          <h3 *ngFor="let item of orderData?.order.items">
            - {{ item.name }}
            <span *ngFor="let option of item.options" class="text-light">({{ option.name }}) </span>
            <span *ngIf="item.quantity > 1"><b> (x {{ item.quantity }})</b></span>
          </h3>
        </ion-label>
      </ion-item>
      
      <ion-item *ngIf="orderData?.order.guestComment">
        <ion-label>
          <h2>Comentario</h2>
          <h3>{{ orderData?.order.guestComment }}</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>TOTAL</h2>
          <h3>${{ orderData?.order.total }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="buttons-row">
      <ion-col *ngFor="let action of orderData?.actions" size="12">
        <ion-button expand="block" color="{{ action }}" (click)="updateStatus(action)">
          {{ action.toUpperCase() }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
