<ion-header>
  <ion-toolbar>
    <ion-title>Orden #{{ orderData?.order.orderNumber }}</ion-title>

    <ion-buttons slot="start" *ngIf="orderData?.order.orderType === orderTypes.Mesa">
      <ion-badge color="dark" class="ion-margin-start">
        Mesa {{ orderData?.order.address }}
      </ion-badge>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-list>
      <ion-item>
        <ion-label>
          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-chip color="{{ orderData?.order.status }}">
                {{ orderData?.order.status.toUpperCase() }}
              </ion-chip>
            </ion-col>
            <ion-col class="ion-no-padding ion-text-end ion-align-self-center">              
              <span>{{ orderData?.order.orderDate | datePipe: "HH:mm" }}</span>              
            </ion-col>            
          </ion-row>
        </ion-label>
      </ion-item>

      <ion-item *ngIf="orderData?.order.status === orderStatus.Cancelado">
        <ion-label>
          <h2>Motivo</h2>
          <h3>
            {{ orderData?.order.cancelSource.toUpperCase() }} :
            {{ orderData?.order.cancelMotive }}
          </h3>
        </ion-label>
      </ion-item>
      
      <ion-item *ngIf="orderData?.order.userName">
        <ion-label>
          <h2>Usuario</h2>
          <h3>{{ orderData?.order.userName }}</h3>
        </ion-label>
      </ion-item>
      
      <ion-item *ngIf="orderData?.order.orderType === orderTypes.TakeAway">
        <ion-label>
          <h2>Fecha de pedido</h2>
          <h3>{{ orderData?.order.madeAt | datePipe: "DD/MM/YYYY HH:mm" }}</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Items</h2>
          <div *ngFor="let item of orderData?.order.items">
            <ion-row>
              <ion-col size="9">
                <h3>
                  - {{ item.name }}
                  <span *ngFor="let option of item.options" class="text-light">({{ option.name }}) </span>                  
                </h3>
              </ion-col>

              <ion-col class="ion-text-end" size="3">
                <h3>
                  <b *ngIf="item.quantity > 1" class="text-smaller quantity">
                    (x {{ item.quantity }})
                  </b>
                  ${{ item.subTotal }}
                </h3>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="item.guestComment" class="ion-margin-start">
              <ion-col>
                <h4 class="text-light">{{ item.guestComment }}</h4>
              </ion-col>
            </ion-row> 
          </div>
        </ion-label>
      </ion-item>
      
      <ion-item *ngIf="orderData?.order.guestComment">
        <ion-label>
          <h2>Comentario</h2>
          <h3>{{ orderData?.order.guestComment }}</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>TOTAL</h2>
          <h3>${{ total }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-grid>
</ion-content>

<ion-footer *ngIf="orderData?.actions">
  <ion-toolbar>
    <ion-row class="buttons-row">
      <ion-col *ngFor="let action of orderData?.actions" size="12">
        <ion-button expand="block" color="{{ action }}" (click)="updateStatus(orderData?.order.status, action)">
          {{ action.toUpperCase() }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
