<ion-header>
  <ion-toolbar>
    <ion-title>Eligir restaurante</ion-title>
    <ion-buttons slot="primary">
      <ion-button color="secondary" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let store of stores" (click)="selectStore(store)">
      <ion-label>{{ store.name }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
